In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("../../datasets/csv_datasets/listings.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39160 entries, 0 to 39159
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              39160 non-null  int64
 1   name                            39160 non-null  object
 2   host_id                         39160 non-null  int64
 3   host_name                       39155 non-null  object
 4   neighbourhood_group             39160 non-null  object
 5   neighbourhood                   39160 non-null  object
 6   latitude                        39160 non-null  float64
 7   longitude                       39160 non-null  float64
 8   room_type                       39160 non-null  object
 9   price                           39160 non-null  int64
 10  minimum_nights                  39160 non-null  int64
 11  number_of_reviews               39160 non-null  int64
 12  last_review                     28211 non-null  object
 13  reviews_per_month               28211 non-null  float64
 14  calculated_host_listings_count  39160 non-null  int64
 15  availability_365                39160 non-null  int64
 16  number_of_reviews_ltm           39160 non-null  int64
 17  license                         3879 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 5.4+ MB

In [9]:
delete_columns = [""]

Tutti i BnB

In [76]:
df.groupby(['host_id', 'latitude', 'longitude', 'name']).size().reset_index().iloc[:, :3]

         host_id   latitude  longitude
0           1678  40.731044 -73.956689
1           2234  40.639470 -74.083740
2           2438  40.712160 -73.944690
3           2571  40.686860 -73.937100
4           2787  40.608130 -73.973800
...          ...        ...        ...
38503  543856797  40.762880 -73.989990
38504  544091750  40.783593 -73.974699
38505  544091750  40.785023 -73.977075
38506  544262135  40.647370 -73.969290
38507  544262135  40.648940 -73.969310

[38508 rows x 3 columns]

In [78]:
df.query('host_id == 107434423')['id'].is_unique

True

False

In [27]:
df[df['name'].str.contains('2 bedroom')]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
3,6848,Rental unit in Brooklyn · ★4.58 · 2 bedrooms ·...,15991,Allen & Irina,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,81,30,191,2023-08-14,1.09,1,110,5,NaN
26,15396,Rental unit in New York · ★5.0 · 2 bedrooms · ...,60278,Petra,Manhattan,Chelsea,40.744930,-73.995210,Entire home/apt,400,120,5,2018-11-03,0.05,1,29,0,NaN
27,62925,Home in Brooklyn · ★4.81 · 2 bedrooms · 2 beds...,306739,Maya,Brooklyn,Greenpoint,40.729670,-73.953520,Entire home/apt,285,30,171,2023-10-10,1.11,2,167,17,NaN
28,63588,Home in Bronx · 2 bedrooms · 2 beds · 1 shared...,295128,Carol Gloria,Bronx,Clason Point,40.811610,-73.854990,Private room,89,30,0,NaN,NaN,6,262,0,NaN
39,18152,Rental unit in New York · ★4.41 · 2 bedrooms ·...,69942,Victoria,Manhattan,Upper East Side,40.769670,-73.948310,Private room,500,30,147,2019-09-01,1.00,1,365,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39144,1013577737689075054,Rental unit in New York · ★New · 2 bedrooms · ...,107434423,Blueground,Manhattan,Upper East Side,40.777315,-73.963122,Entire home/apt,1448,31,0,NaN,NaN,647,365,0,NaN
39145,1014451242059786811,Rental unit in Brooklyn · ★New · 2 bedrooms · ...,544262135,Simon,Brooklyn,Flatbush,40.647370,-73.969290,Entire home/apt,169,30,0,NaN,NaN,2,365,0,NaN
39148,1013602396391444123,Rental unit in New York · ★New · 2 bedrooms · ...,536153709,Danielle Lauren,Manhattan,Upper West Side,40.779243,-73.976552,Entire home/apt,236,10,0,NaN,NaN,1,68,0,Exempt
39154,1014565710328777916,Rental unit in Brooklyn · ★New · 2 bedrooms · ...,536636671,Rachel,Brooklyn,Bedford-Stuyvesant,40.691095,-73.935352,Entire home/apt,149,30,0,NaN,NaN,1,142,0,NaN
39158,1015027813525407338,Rental unit in New York · ★New · 2 bedrooms · ...,107434423,Blueground,Manhattan,Kips Bay,40.740508,-73.978347,Entire home/apt,322,31,0,NaN,NaN,647,365,0,NaN