In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../../datasets/csv_datasets/NYPD_Arrest_2023.csv")

In [4]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,261209118,01/01/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,K,77,0,45-64,F,BLACK,999335,186085,40.677426,-73.945615
1,262984267,02/03/2023,515,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,K,73,0,25-44,M,BLACK,1009318,178259,40.655923,-73.909650
2,263664549,02/15/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,62,0,25-44,M,WHITE,982272,158771,40.602468,-74.007120
3,261345231,01/04/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,M,32,0,25-44,M,BLACK,999899,238684,40.821797,-73.943457
4,263536618,02/13/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 12005WX,F,K,71,0,25-44,M,BLACK,1001437,183080,40.669175,-73.938042

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170095 entries, 0 to 170094
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ARREST_KEY         170095 non-null  int64
 1   ARREST_DATE        170095 non-null  object
 2   PD_CD              170095 non-null  int64
 3   PD_DESC            170095 non-null  object
 4   KY_CD              170082 non-null  float64
 5   OFNS_DESC          170095 non-null  object
 6   LAW_CODE           170095 non-null  object
 7   LAW_CAT_CD         168838 non-null  object
 8   ARREST_BORO        170095 non-null  object
 9   ARREST_PRECINCT    170095 non-null  int64
 10  JURISDICTION_CODE  170095 non-null  int64
 11  AGE_GROUP          170095 non-null  object
 12  PERP_SEX           170095 non-null  object
 13  PERP_RACE          170095 non-null  object
 14  X_COORD_CD         170095 non-null  int64
 15  Y_COORD_CD         170095 non-null  int64
 16  Latitude           170095 non-null  float64
 17  Longitude          170095 non-null  float64
dtypes: float64(3), int64(6), object(9)
memory usage: 23.4+ MB