In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../datasets/csv_datasets/subway_stops.csv")

In [3]:
df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103

In [4]:
df.dtypes

stop_id            object
stop_code         float64
stop_name          object
stop_desc         float64
stop_lat          float64
stop_lon          float64
zone_id           float64
stop_url          float64
location_type       int64
parent_station     object
dtype: object

In [5]:
df.to_csv('../out/subway_stops.csv', index=False)